backend/node_modules
frontend/node_modules
backend/package-lock.json
frontend/package-lock.json

frontend/mobile/node_modules
frontend/mobile/package-lock.json

frontend/mobile/.env
frontend/mobile/.env.local
frontend/mobile/.env.development.local
frontend/mobile/.env.test.local
frontend/mobile/.env.production.local


frontend/web/node_modules
frontend/web/package-lock.json

frontend/web/.env
frontend/web/.env.local
frontend/web/.env.development.local
frontend/web/.env.test.local
frontend/web/.env.production.local

backend/.env
frontend/.env
backend/.env.local
frontend/.env.local
backend/.env.development.local
frontend/.env.development.local
backend/.env.test.local
frontend/.env.test.local
backend/.env.production.local
frontend/.env.production.local